article.list(class= workers.length === 0 ? "list--gridless" : "")
    for item in workers
        section.list__item.item
            a(href="#", data-item= item.id).item__header
                i.item__icon
                img.item__image(src= item.avatar)
            div.item__body.align-center
                h3.item__title= item.name
                p.item__subtitle.blue-text= item.position
                p.item__subtitle.gray-text= item.location
    else
        p.list__no-data.align-center= site.noData


