.slider(data-modal="hide")
    a.slider__close(href="#", data-item="")
    .swiper-container
       .swiper-wrapper
            for item in workers
                .swiper-slide.align-center
                    .slide
                        h4.slide__subtitle= item.position
                        h2.slide__title= item.name

       .swiper-button-prev
       .swiper-button-next
