$fontPath: "/assets/fonts";
$imagePath: "/assets/images";

$white: #fff;
$mainColor: #25abdd;
$firstFontColor: #452e76;
$secondFontColor: #808080;

$max-width: 1300px;

$transition: .3s;
$boxShadow: 0px 0px 15px 0px rgba(163,163,163,0.89);